.nav {
    background-color: #09006F;
}

img {
    height: 50px;
    width: 50px;
}

.nav-item {
    margin: 20px 0;
}

.nav-item:first-of-type img {
    height: 70px;
    width: 70px;
}

h6 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}