.current-data {
    background-color: #E7D5FF;
    border-radius: 10px;
    width: 240px;
    margin: 25px;
    padding: 10px;
}

.time-data {
    background-color: #F7F1FF;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
}